{% extends 'base.html' %}

{% block content %}

<form action="{% url 'wishlist' %}" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Items" aria-label="Search" name="q" value="{{request.GET.q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="row">
{% for item in wishlist %}
<div class="col-sm-4 py-2">
        <div class="card h-100">
            <img class="card-img-top" height="55%" src="{{item.image.url}}" alt="Card image cap">
            <div class="card-body bg-light">
                <h3 class="card-title">{{item.name}}</h3>
                <a href="{% url 'item-detail' item.id %}" class="btn btn-outline-dark">More</a>
            </div>
                           <!--  <i id="wish-{{item.id}}" onclick="wish({{item.id}})" class="far fa-star {% if item in item_wish %}text-warning{% endif %} "></i> -->
        </div>
    </div>

{% endfor %}
</div>
<!-- 
<script type="text/javascript">
    function wish(id){
      var star = "#wish-"+id;


      $.ajax({
        type: "GET",
        url: "/items/"+ id +"/wish/",
        error: function(){
          alert("Something Went Wrong...");
        },
        success: function(response){
          console.log(response)
          if(response.action === "wish"){
            $(star).addClass("text-warning");
          }
          else{
            $(star).removeClass("text-warning");
          }
        }
        })
      }
  


</script> -->
{% endblock%}